fastapi
uvicorn
pydantic
langchain-community
faiss-cpu
langchain_google_genai
pypdf
langchain
langchain-pinecone
weaviate-client
langchain_weaviate
wikipedia
youtube_search
langgraph
chromadb
python-dotenv
langchain-openai
langchain-groq
langchain-chroma
langchain_groq
yfinance
duckduckgo_search
pinecone
langchain_huggingface
langchain_experimental
tabulate
dotenv
groq
docling
accelerate
markdownify

azure-core==1.37.0
azure-core-tracing-opentelemetry==1.0.0b12
azure-identity==1.25.1
azure-monitor-opentelemetry==1.8.3
azure-monitor-opentelemetry-exporter==1.0.0b46